{% extends "layouts/base.html.twig" %}

{% block title %}
	Calculatrice
{% endblock %}

{% block body %}
<div class="col-3 offset-4 my-5">
	<h1 class="text-center">Calculatrice</h1>

	<form action="" method="post">
		<div class="input-group mb-3">
			<span class="input-group-text" id="inputGroup-sizing-default">Premiere valeur</span>
			<input type="text" class="form-control" name="premiereValeur" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
		</div>

		<div class="input-group mb-3">
			<select class="form-select" name="operateur" aria-label="Default select example">
				<option selected>Votre operateur</option>
				{% for operateur in operateurs %}
					<option cmass="text-center">{{ operateur }} </option>
				{% endfor %}
			</select>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" id="inputGroup-sizing-default">Seconde valeur</span>
			<input type="text" class="form-control" name="secondeValeur" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
		</div>
		<div class="text-center my-3">
			<button type="submit" class="btn btn-primary container-fluid" name="submit">Calculer</button>
		</div>
	</form>
	<?php if (isset($_POST['premiereValeur']) && isset($_POST['operateur']) && isset($_POST['secondeValeur']) && isset($result)) { ?>
		<div class="alert alert-danger text-center" role="alert">
			<?php echo $result ?>
		</div>
	<?php }elseif(isset($erreur)){ ?>
		<div class="alert alert-danger text-center" role="alert">
			<?php echo $erreur ?>
		</div>
		<?php } ?>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


{% endblock %}